body {
  background: rgba(234, 242, 255, 0.18);
}
p {
  font-family: monospace;
}
h1 {
  text-align: center;
  border-style:dashed;
  border-color:rgb(240, 10, 144); 
  background-color:rgb(182, 255, 212)
}
.Alphabet{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.Apple{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.Microsoft{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.amazon{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.Nvidia{
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.Alphabet{
   display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.Saudi-Aramco{
   display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.tsmc{
 display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.SpaceX{
 display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.Broadcom{
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.Meta{
   display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}

.alphabet-image {
  width: 400px;
  height:300px;
 
}
.microsoft-image {
  width: 400px;
  height: 300px;
}
.amazon-image {
  width: 400px;
  height: 300px;
}
.aramco-image {
  width: 600px;
  height: 300px;
}
.nvidia-image {
  width: 400px;
  height: 300px;
}
.SpaceX-image{
  width: 400px;
  height: 300px;
}
.Broadcom-image{ 
  width: 400px;
  height: 300px;
}
.tsmc-image{
   width: 400px;
  height: 300px;
}
.meta-image{
    width: 400px;
  height: 300px;
}
.images{
  background-color: rgb(255, 128, 166);
  border-style:dashed;
  border-color:rgb(27, 233, 61); 
}
body{
  background-color: rgb(196, 189, 193);
}
.brands{
  background-color: rgb(196, 189, 193);
}
.arrow-image{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.arrow-image img{
  width:250px;
  height:250px;
}
.hello
{
  background-color: rgb(110, 230, 31);
  border-style: double;
}
.google1{
  background-color: rgb(216, 248, 195);
  border-style: double;
}
.apple1{
  background-color: rgb(255, 255, 255);
  border-style: double;
}
.microsoft1{
  background-color: rgb(228, 60, 60);
  border-style: double;
}
.amazon1{
  background-color: rgb(112, 108, 108);
  border-style: double;
}
.tsmc1{
  background-color: rgb(226, 22, 182);
  border-style: double;
}
.spacex1{
  background-color: rgb(235, 220, 11);
  border-style: double;
}
.meta1{
  background-color: rgb(100, 187, 238);
  border-style: double;
}
.saudi-aramco1{
  background-color: rgb(209, 212, 28);
  border-style: double;
}
.broadcom1{
  background-color: rgb(255, 153, 36);
  border-style: double;
}






