body {
  background: rgba(234, 242, 255, 0.18);
}
p {
  font-family: monospace;
}
h1 {
  text-align: center;
  border-style:dashed;
  border-color:rgb(240, 10, 144); 
  background-color:rgb(182, 255, 212)
}
.Alphabet{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.Apple{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.Microsoft{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.amazon{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;
}
.Nvidia{
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.Alphabet{
   display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.Saudi-Aramco{
   display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.tsmc{
 display:flex;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
.alphabet-image {
  width: 400px;
  height:300px;
 
}
.microsoft-image {
  width: 400px;
  height: 300px;
}
.amazon-image {
  width: 400px;
  height: 300px;
}
.aramco-image {
  width: 400px;
  height: 300px;
}
.nvidia-image {
  width: 400px;
  height: 300px;
}